* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colores */
    --firts-color: #f7b617;
    --second-color: #ffffff;
    --third-color: #2b2b2b;
}

body {
    font-family: sans-serif;
}

.header {
    margin: 1rem;
}

/* Start App */
.containerStart {
    background-image: url(../assets/images/taxi.jpg);
    height: 90vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.texStart {
    background-color: var(--firts-color);
    width: 80%;
    padding: 2rem;
}

.textP {
    color: var(--second-color);
    font-size: 2rem;
    text-align: inherit;
    margin-bottom: 2rem;
}

.textP span {
    font-size: 1.2rem;
}

.btnDownload {
    background-color: var(--second-color);
    color: var(--third-color);
    padding: 0.7rem;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.2rem;
}